* {
    background:#cceeef;
    color:#303d86;  
    font-family: 'Courier New', Courier, monospace;
    font-weight:1000;
}

.titlebar{
    background:white;
    padding:10px 15px 10px 15px;
    display:flex;

}

.link {
    padding: 10px;
}