body {
    background:#cceeef;
    /*background:#577779;*/
}
* {

    color:#303d86;  
    font-family: 'Courier New', Courier, monospace;
    font-weight:1000;
}

.titlebar{
    background:#efffff;
    padding:10px 15px 10px 15px;
    display:flex;

}

.navlink {
    padding: 10px;
}
.navbank {
    background:#efffff;
    padding:10px;

    display:flex;
    flex-flow:column;
    align-items:center;
}

a {
    padding:2.5px 2.5px 2.5px 2.5px;
}
a:hover {
    color:#d8fafa;
    background-color:#5b9bdf;
    border-radius:4px;
    text-decoration-style:wavy;
}
a:active {
    color:#303d86;
    background:#cceeef;
    border-radius:4px;
    text-decoration-style:wavy;
}

/*
#source {
    background:#cceeef;
    position:sticky;
    bottom:10px;
}
*/