body {
    background:#cceeef;
}

* {

    color:#303d86;  
    font-family: 'Courier New', Courier, monospace;
    font-weight:1000;
}

.titlebar{
    background:#efffff;
    padding:10px 15px 10px 15px;
    display:flex;

}

.navlink {
    padding: 10px;
}

.navbank {
    background:#efffff;
    padding:10px;

    display:flex;
    flex-flow:column;
    align-items:center;
}

.source {
    display: flex;
    justify-content: flex-end;
    
}

#works-cited-fish {
    width:500px;
}
